body {
    font-family: sans-serif;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-text {
    width: 40vw;
    height: 2.5rem;
    border-radius: 25px;
    border-color: lightgray;
    border-width: 1px;
    margin: 25px 0px;
}

#search-buttons {
    text-align: center;
    padding: 7px;
}

.btn {
    padding: 12px 20px;
    margin: 4px;
    font-size: 0.9rem;
    background-color:#f8f9fa;
    color: #3c4043;
    border: none;
    border-radius: 5px;
}

#lang {
    font-size: 0.8rem;
}


/* Navigation Bar Styling */
nav > ul {
    list-style-type: none;
    margin: 5px 10px;
    padding: 0px;
    display: inline;
    float: right;
}

nav > ul > li {
    display: inline;
    float: left;
}

nav > ul > li > a {
    display: block;
    padding: 8px;
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}
