body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Search area */
.main {
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-text {
    width: 40vw;
    height: 2.5rem;
    border-radius: 25px;
    border-color: lightgray;
    border-width: 1px;
    margin: 25px 0px;
}

#search-buttons {
    text-align: center;
    padding: 7px;
}

.btn {
    padding: 12px 20px;
    margin: 4px;
    font-size: 0.9rem;
    background-color:#f8f9fa;
    color: #3c4043;
    border: none;
    border-radius: 5px;
}

#lang {
    font-size: 0.8rem;
}

/* Disables link underline without hovering */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Navigation Bar Styling */
nav > ul {
    list-style-type: none;
    margin: 10px 15px;
    padding: 0px;
    display: inline;
    float: right;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    display: inline-block;
    padding: 8px;
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
}

/* Footer */
footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: 15px 25px;
    font-size: 0.9rem;
    background-color: #f2f2f2;
    color: rgb(107, 107, 107);
}

footer > div {
    display: inline;
}

#right-footer {
    float: right;
}

footer a {
    color: rgb(107, 107, 107);
    padding-right: 10px;
}
